@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #252525;
}

header {
  background-color: #CB4335;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border-bottom: 3px solid #E74C3C;
}
@media (max-width: 1000px) {
  header .header_left-side {
    display: none;
  }
}
header .color_changing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  header .color_changing {
    gap: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 3px;
    width: 35%;
  }
}
@media (max-width: 500px) {
  header .color_changing {
    gap: 5px;
  }
}
@media (max-width: 400px) {
  header .color_changing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 70%;
  }
}
@media (max-width: 340px) {
  header .color_changing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
header .color_changing label {
  font-size: 20px;
}
@media (max-width: 500px) {
  header .color_changing label {
    font-size: 16px;
  }
}
header .color_changing input {
  display: none;
}
header div {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 660px) {
  header div {
    width: 60%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
header div h1 {
  font-size: 50px;
  font-weight: 700;
  color: black;
}
@media (max-width: 660px) {
  header div h1 {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  header div h1 {
    font-size: 20px;
  }
}
header div h2 {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
@media (max-width: 660px) {
  header div h2 {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  header div h2 {
    font-size: 13px;
  }
}

main {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 660px) {
  main {
    height: 750px;
  }
}
main .play_area {
  height: 700px;
  width: 800px;
  border: 2px solid #E74C3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CB4335;
  border-radius: 20px;
}
@media (max-width: 850px) {
  main .play_area {
    width: 92%;
  }
}
main .play_area .play_zone {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .play_area .play_zone .play_zone_text {
  border-radius: 12px;
  height: 58%;
  width: 100%;
  border: 2px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E74C3C;
}
@media (max-width: 450px) {
  main .play_area .play_zone .play_zone_text {
    height: 48%;
  }
}
main .play_area .play_zone .play_zone_text p {
  font-size: 30px;
  text-align: center;
}
@media (max-width: 450px) {
  main .play_area .play_zone .play_zone_text p {
    font-size: 20px;
  }
}
main .play_area .play_zone .play_zone_write {
  background-color: #E74C3C;
  border-radius: 12px;
  height: 41%;
  width: 100%;
  border: 2px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 660px) {
  main .play_area .play_zone .play_zone_write {
    gap: 30px;
  }
}
@media (max-width: 660px) {
  main .play_area .play_zone .play_zone_write {
    gap: 10px;
  }
}
@media (max-width: 450px) {
  main .play_area .play_zone .play_zone_write {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    height: 51%;
  }
}
main .play_area .play_zone .play_zone_write input {
  font-size: 50px;
  text-align: center;
  width: 100px;
  height: 60px;
  border-radius: 25px;
  background-color: #252525;
  color: whitesmoke;
  border: 2px solid #E74C3C;
}
main .play_area .play_zone .play_zone_write button {
  width: 200px;
  height: 40px;
  background-color: #EC7063;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 850px) {
  main .play_area .play_zone .play_zone_write button {
    width: 180px;
  }
}
@media (max-width: 660px) {
  main .play_area .play_zone .play_zone_write button {
    width: 140px;
  }
}
@media (max-width: 450px) {
  main .play_area .play_zone .play_zone_write button {
    width: 200px;
  }
}
main .play_area .play_zone .play_zone_write button p {
  font-size: 20px;
}
@media (max-width: 850px) {
  main .play_area .play_zone .play_zone_write button p {
    font-size: 17px;
  }
}
@media (max-width: 660px) {
  main .play_area .play_zone .play_zone_write button p {
    font-size: 15px;
  }
}
main .play_area .play_zone .play_zone_write button:active {
  background-color: #B03A2E;
  color: whitesmoke;
}